 .col-md-6 {
	background-color: #f2f2f2;
	margin-top:20px;
	margin-right:20px;
	margin-left:20px;
	margin-bottom: 20px;
 }
 
 .list {
	background-color: #f2f2f2;
 }
 
 .row {
 	
	margin-bottom: 20px;
	margin-top:20px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 4px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
 }